body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}
@media screen and (min-width: 768px) {
    .content {
        width: 75%;
        margin: 0 auto;
    }
    
}
.recordings {
    padding: 20px;
}
.group-date {
    margin-bottom: 20px;
}
.gd-header {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    margin: 0;
}
.gd-list {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
}
.tx-group {
    margin-bottom: 10px;
}
.txg-header {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.txg-list {
    padding: 10px;
}
.record {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.record .time {
    margin-right: 10px;
    font-weight: bold;
    white-space: nowrap;
}
audio {
    width: 100%;
}
.controls {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls-header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}

.checkbox-group label {
    font-size: 1.2em;
}
.controls a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.controls a:hover {
    background-color: #45a049;
}

.login {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 400px;
    margin: 1em auto;
}

.login-header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 0;
    margin-bottom: 0.5em;
    border-radius: 8px 8px 0 0;
}

.error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}

.warning {
    background-color: #ff9800;
    color: white;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notify {
    background-color: #30dac3;
    color: white;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subscribe {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-top: 1em;
    max-width: 400px;
}